In [1]:
# from flask import Flask, render_template, redirect
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [2]:
engine = create_engine("sqlite:///Data/belly_button_biodiversity.sqlite")

In [3]:
inspector = inspect(engine)

In [39]:
type(inspector.get_table_names())

list

In [40]:
tables = {} # keep all tables and columns. maybe useless
for table in inspector.get_table_names():
    print(f'Table name is "{table}", it contains columns: ')
    columns = inspector.get_columns(table)
    names = []
    for c in columns:
        names.append(c['name'])
        print(c['name'], c['type'])
    print()
    tables[table] = names

Table name is "otu", it contains columns:
otu_id INTEGER
lowest_taxonomic_unit_found TEXT

Table name is "samples", it contains columns:
otu_id INTEGER
BB_940 INTEGER
BB_941 INTEGER
BB_943 INTEGER
BB_944 INTEGER
BB_945 INTEGER
BB_946 INTEGER
BB_947 INTEGER
BB_948 INTEGER
BB_949 INTEGER
BB_950 INTEGER
BB_952 INTEGER
BB_953 INTEGER
BB_954 INTEGER
BB_955 INTEGER
BB_956 INTEGER
BB_958 INTEGER
BB_959 INTEGER
BB_960 INTEGER
BB_961 INTEGER
BB_962 INTEGER
BB_963 INTEGER
BB_964 INTEGER
BB_966 INTEGER
BB_967 INTEGER
BB_968 INTEGER
BB_969 INTEGER
BB_970 INTEGER
BB_971 INTEGER
BB_972 INTEGER
BB_973 INTEGER
BB_974 INTEGER
BB_975 INTEGER
BB_978 INTEGER
BB_1233 INTEGER
BB_1234 INTEGER
BB_1235 INTEGER
BB_1236 INTEGER
BB_1237 INTEGER
BB_1238 INTEGER
BB_1242 INTEGER
BB_1243 INTEGER
BB_1246 INTEGER
BB_1253 INTEGER
BB_1254 INTEGER
BB_1258 INTEGER
BB_1259 INTEGER
BB_1260 INTEGER
BB_1264 INTEGER
BB_1265 INTEGER
BB_1273 INTEGER
BB_1275 INTEGER
BB_1276 INTEGER
BB_1277 INTEGER
BB_1278 INTEGER
BB_1279 INTEGER
BB_1280 INTEGER
BB_1281 INTEGER
BB_1282 INTEGER
BB_1283 INTEGER
BB_1284 INTEGER
BB_1285 INTEGER
BB_1286 INTEGER
BB_1287 INTEGER
BB_1288 INTEGER
BB_1289 INTEGER
BB_1290 INTEGER
BB_1291 INTEGER
BB_1292 INTEGER
BB_1293 INTEGER
BB_1294 INTEGER
BB_1295 INTEGER
BB_1296 INTEGER
BB_1297 INTEGER
BB_1298 INTEGER
BB_1308 INTEGER
BB_1309 INTEGER
BB_1310 INTEGER
BB_1374 INTEGER
BB_1415 INTEGER
BB_1439 INTEGER
BB_1441 INTEGER
BB_1443 INTEGER
BB_1486 INTEGER
BB_1487 INTEGER
BB_1489 INTEGER
BB_1490 INTEGER
BB_1491 INTEGER
BB_1494 INTEGER
BB_1495 INTEGER
BB_1497 INTEGER
BB_1499 INTEGER
BB_1500 INTEGER
BB_1501 INTEGER
BB_1502 INTEGER
BB_1503 INTEGER
BB_1504 INTEGER
BB_1505 INTEGER
BB_1506 INTEGER
BB_1507 INTEGER
BB_1508 INTEGER
BB_1510 INTEGER
BB_1511 INTEGER
BB_1512 INTEGER
BB_1513 INTEGER
BB_1514 INTEGER
BB_1515 INTEGER
BB_1516 INTEGER
BB_1517 INTEGER
BB_1518 INTEGER
BB_1519 INTEGER
BB_1521 INTEGER
BB_1524 INTEGER
BB_1526 INTEGER
BB_1527 INTEGER
BB_1530 INTEGER
BB_1531 INTEGER
BB_1532 INTEGER
BB_1533 INTEGER
BB_1534 INTEGER
BB_1535 INTEGER
BB_1536 INTEGER
BB_1537 INTEGER
BB_1539 INTEGER
BB_1540 INTEGER
BB_1541 INTEGER
BB_1542 INTEGER
BB_1543 INTEGER
BB_1544 INTEGER
BB_1545 INTEGER
BB_1546 INTEGER
BB_1547 INTEGER
BB_1548 INTEGER
BB_1549 INTEGER
BB_1550 INTEGER
BB_1551 INTEGER
BB_1552 INTEGER
BB_1553 INTEGER
BB_1554 INTEGER
BB_1555 INTEGER
BB_1556 INTEGER
BB_1557 INTEGER
BB_1558 INTEGER
BB_1561 INTEGER
BB_1562 INTEGER
BB_1563 INTEGER
BB_1564 INTEGER
BB_1572 INTEGER
BB_1573 INTEGER
BB_1574 INTEGER
BB_1576 INTEGER
BB_1577 INTEGER
BB_1581 INTEGER
BB_1601 INTEGER

Table name is "samples_metadata", it contains columns:
SAMPLEID INTEGER
EVENT TEXT
ETHNICITY TEXT
GENDER TEXT
AGE INTEGER
WFREQ INTEGER
BBTYPE TEXT
LOCATION TEXT
COUNTRY012 TEXT
ZIP012 INTEGER
COUNTRY1319 TEXT
ZIP1319 INTEGER
DOG TEXT
CAT TEXT
IMPSURFACE013 INTEGER
NPP013 FLOAT
MMAXTEMP013 FLOAT
PFC013 FLOAT
IMPSURFACE1319 INTEGER
NPP1319 FLOAT
MMAXTEMP1319 FLOAT
PFC1319 FLOAT

In [44]:
sample_names = tables['samples']

In [5]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [26]:
Base.classes.keys()

['otu', 'samples', 'samples_metadata']

In [35]:
Samples_metadata = Base.classes.samples_metadata
Samples = Base.classes.samples
Otu = Base.classes.otu

In [7]:
session = Session(engine)

In [37]:
for table in

AttributeError: type object 'samples' has no attribute 'columns'

In [33]:
for row in alldata:
    print(row)

(<sqlalchemy.ext.automap.samples_metadata object at 0x106458208>, 'no')
(<sqlalchemy.ext.automap.samples_metadata object at 0x106458278>, '0')
(<sqlalchemy.ext.automap.samples_metadata object at 0x1064582e8>, '0')
(<sqlalchemy.ext.automap.samples_metadata object at 0x106458358>, 'yes')
(<sqlalchemy.ext.automap.samples_metadata object at 0x106458400>, 'no')
(<sqlalchemy.ext.automap.samples_metadata object at 0x1064584a8>, 'yes')
(<sqlalchemy.ext.automap.samples_metadata object at 0x106458550>, 'yes')